<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <!-- Logo -->
    <a class="navbar-brand" routerLink="/home">{{nomeApplicazione}}</a>

    <!-- Toggle button per mobile da gestire  click
    <button
      class="navbar-toggler"
      aria-controls="navbarNav"
      aria-expanded="!isCollapsed"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
-->
    <!-- Menu  da gestire collasso con direttiva attributo-->
    <div class="navbar-collapse">
      <ul class="navbar-nav ms-auto flex-row">
        <li class="nav-item mx-2" 
        *ngFor="let link of elencoLink">
          <a class="nav-link" [routerLink]="link.pathLink">{{link.nomeLink}}</a>
        </li>
      </ul>
      
    </div>
  </div>
</nav>